body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather',serif;
}

p{
    margin-top: 0px;
    padding-top: 0px;
    font-size: small;
}

h1{
    margin-top: 0px;
    font-family: 'Sacramento',cursive;
    font-size: 500%;
    margin-bottom: 0px;
    color: #66BFBF;
}

.skill_name{
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 150px;
}

h2,h3{
    font-weight:normal;
    font-family: 'Montserrat',sans-serif;
    color: #66BFBF;
    font-size: 120%;
    font-style: italic;
}

.name-title{
    padding:130px 70px 0px;
}

.top-container{
    padding-top: 100px;
    background-color: #e4f9f5;
    position: relative;
}

.middle-container{
    padding-top: 30px;
}


.p-tag{
    font-size: 90%;
}

.bottom-container{
    margin-top: 30px;
}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
}

.my_image{
    border-radius: 30%;
    height: 200px;
    background-color: white;
    position: relative;
}

.skill-row{
    position: relative;
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height:2;
    padding: 0px 50px 50px;
}

.web-image{
    width: 15%;
    float: right;
    margin-right: 30px;
}

.java-image{
    width: 15%;
    float: left;
    margin-right: 30px;
}

.btn {
    margin-top: 50px;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #faf7fa;
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }